

@keyframes rainbow
{
  0%   {background: linear-gradient( 45deg, #ed7676, #edbe77, #eded77, #89ed77, #7977ed, #cd77ed ) ; }
  16.666%  {background: linear-gradient( 45deg, #cd77ed, #ed7676, #edbe77, #eded77, #89ed77, #7977ed ) ; }
  33.333%  {background: linear-gradient( 45deg, #7977ed, #cd77ed, #ed7676, #edbe77, #eded77, #89ed77) ; }
  49.999%  {background: linear-gradient( 45deg, #89ed77, #7977ed, #cd77ed, #ed7676, #edbe77, #eded77) ; }
  66.666% {background: linear-gradient( 45deg, #eded77, #89ed77, #7977ed, #cd77ed, #ed7676, #edbe77) ; }
  83.333% {background: linear-gradient( 45deg, #edbe77, #eded77, #89ed77, #7977ed, #cd77ed, #ed7676) ; }
}
@keyframes dance
{
  0% {float: center;}
  50% {float: right;}
  100% {float: left;}
}
body {
  margin: 0px;
}

a{
  text-decoration: none;
  color : linear-gradient( 45deg, #ed7676, #edbe77, #eded77, #89ed77, #7977ed, #cd77ed ) ; 
}
.padd-section {
  padding: 20px 0px 20px 0px;
}

.column {
  float: left;
  width: 33.33%;
  padding: 0px;
}
.column2 {
  float: left;
  width: 45%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

#head {
  z-index: 99;
  overflow: hidden;
}
#header {
  transition: all 0.5s ease;
  padding: 10px 0px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
  width: 100%;
  position: fixed;
  top:0;
  background-color: #fff;
}


.navbar a:hover{
  color: #ffbee0; 

}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;

}

.navbar li {
  position: relative;
  padding: 10px 0 10px 30px;
}

.navbar a {
  display: flex;
  align-items: left;
  font-size: 25px;
  font-weight: 5;
  color: #ff86c5;
  transition: 0.3s;
  letter-spacing: 0;
}

.search {
  background : linear-gradient( 45deg, #ed7676, #edbe77, #eded77, #89ed77, #7977ed, #cd77ed ) ; 
  border-radius: 25px;
  padding: 10px;
  border-color: white;
  margin:0px;
  
}
#searchBrowse {
  margin: 10px 0px 0px 320px;
  animation-name: rainbow;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
}

#home {
  margin-top: 100px;
}

#logo {
  width: 55%;
  height: 55%;
  padding: 0px;
  margin:0px;
}


#homeImg {
  margin: 80px 0px 10px 200px;
}
#browseImg {
  width: 55%;
  height: 55%;
  margin: 50px 0px 30px 400px;

  z-index: -1;
}
h1 {
  width: 100%;
  font-size: 50px;
  color: #ff86c5;
  text-align: center;
}
#homeText 
{
  margin: 100px 0px 30px 200px; 
}
button {
  background: linear-gradient(45deg, #ed7676, #edbe77, #eded77, #89ed77, #7977ed, #cd77ed); 
  border: none;
  border-radius: 30px;
  color: white;
  padding: 20px 50px 20px 50px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  margin: 25px 0px 10px 300px; 
  white-space: nowrap;
  animation-name: rainbow;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
}
button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
p {
  font-size: 40px;
  text-align: center;
  margin: 10px 300px 10px 300px;
  padding: 30px 30px;
  border-radius: 25px;
  color: white;
  background: linear-gradient(45deg, #ed7676, #edbe77, #eded77, #89ed77, #7977ed, #cd77ed);
  text-shadow: 2px 2px #000;
}

.container{
  margin: 50px 50px 50px 50px;
  align-items: center;
  display: inline;
  position: relative;
}

#songList {
  background: linear-gradient(45deg, #ed7676, #edbe77, #eded77, #89ed77, #7977ed, #cd77ed);
}

.tooBig {
  width: 19%;
  height: 19%;
  border-radius: 25px;
}
